.container {
  min-height: 100vh;
 
  display: flex;
 
  justify-content: center;
}


.row{

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.col{
  text-align: center;
  padding: 0;
}

.newsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.card{
  width: 90% !important;
  margin-bottom: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cardBody{
  /* padding: 10px 10px; */
}

.cardHead{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.rss {
  position: absolute;
  top: 5px ;
  right: 5px;
   width: 20px;
}

.cardHead img {
  width: 50px;
  height: 50px;
}

.title{
  font-size: 22px;
}

.date{
  color: #7e7e7e;
}

.keywords{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.keywords p {
  margin: 0;
  padding: 2px 10px;
  border-radius: 15px;
  text-transform: capitalize;
  border: 1px solid teal;
  color: teal;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.fixed {

  background-color: white;
}



@media (max-width: 600px) {
  .fixed {
   display: none;
  }
}
